<div id="background"></div>
<div id="game">
  <div class="left">
    <div class="moves-history">
      <span>1.B25*d2d3d4 </span><span>2.Wc8*c3c4c5c6c7</span>
    </div>
    <div class="board">
      <ng-container *ngFor="let row of gameStats?.cells; let i = index">
        <ng-container *ngFor="let cell of row; let j = index">
          <button
            class="cell"
            [disabled]="!!!findCellInValidMoves(cell)"
            (click)="!!findCellInValidMoves(cell) ? handleMove() : undefined"
          >
            <span
              *ngIf="cell.piece !== 'EMPTY'"
              [class]="'piece ' + cell.piece | lowercase"
            ></span>
            <small *ngIf="j == 0 && i !== 0" class="index">{{ i }}</small>
            <small *ngIf="i == 0" class="index">{{ j }}</small>
          </button>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="right">
    <div class="header">
      <div class="player-avt player1-avt player-black">
        <img src="assets/avatar.png" alt="Player1" />
        <div class="player-text">
          <p class="player-name">YOU</p>
          <div class="your-turn">YOUR TURN!</div>
        </div>
      </div>
      <div class="versus-img">
        <img src="assets/versus.png" alt="versus" />
      </div>
      <div class="player-avt player2-avt player-white">
        <div class="player-text">
          <p style="text-align: end">AI</p>
          <div class="your-turn">YOUR TURN!</div>
        </div>
        <img src="assets/AI.jpg" alt="Player2" />
      </div>
    </div>
    <div class="main-control">
      <div class="control-left">
        <ng-container [ngSwitch]="1 > 0">
          <ng-container *ngSwitchCase="true">
            <button><< Prev</button>

            <button>Next >></button>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <button>Start</button>
          </ng-container>
        </ng-container>
        <br />
        <span>Level </span>
        <select class="choose-level">
          <option value="1">Easy</option>
          <option value="2">Medium</option>
          <option value="3">Hard</option>
          <option value="4">Expert</option>
        </select>
      </div>
      <div class="control-right"></div>
    </div>
  </div>
</div>
