<div id="background"></div>
<app-overlay *ngIf="isInitialLoading">
  <img class="loading" src="assets/loading.gif" />
  <p>Loading...</p>
</app-overlay>
<div id="game" class="flex gap-normal">
  <div class="container left flex gap-normal">
    <div></div>
    <div class="moves-history"></div>
  </div>
  <div class="container center">
    <div class="header">
      <div
        [ngClass]="'player-avt player1-avt player-' + playerColor | lowercase"
      >
        <img src="assets/avatar.png" alt="Player1" />
        <div class="player-text">
          <p class="player-name">YOU</p>
          <div class="your-turn">
            {{
              isStarted && gameStats.currentPlayer === playerColor
                ? "YOUR TURN!"
                : ""
            }}
          </div>
        </div>
      </div>
      <div class="versus-img">
        <img src="assets/versus.png" alt="versus" />
      </div>
      <div
        [ngClass]="
          'player-avt player2-avt player-' + (playerColor | enemy) | lowercase
        "
      >
        <div class="player-text">
          <p style="text-align: end">AI</p>
          <div class="your-turn">
            {{
              isStarted && gameStats.currentPlayer !== playerColor
                ? "YOUR TURN!"
                : ""
            }}
          </div>
        </div>
        <img src="assets/AI.jpg" alt="Player2" />
      </div>
    </div>
    <div class="board">
      <ng-container *ngFor="let row of gameStats?.cells">
        <ng-container *ngFor="let cell of row">
          <button
            class="cell"
            [disabled]="!!!_findCellInValidMoves(cell)"
            (click)="move($event, _findCellInValidMoves(cell))"
          >
            <span
              *ngIf="cell.piece !== 'EMPTY'"
              [class]="'piece ' + cell.piece | lowercase"
            ></span>
            <small *ngIf="cell.y == 0 && cell.x !== 0" class="index">{{
              cell.x
            }}</small>
            <small *ngIf="cell.x == 0" class="index">{{ cell.y }}</small>
          </button>
        </ng-container>
      </ng-container>
    </div>
    <div class="control-btns">
      <select class="choose-level" [disabled]="isStarted">
        <option value="1">Level: Easy</option>
        <option value="2" selected>Level: Medium</option>
        <option value="3">Level: Hard</option>
        <option value="4">Level: Expert</option>
      </select>
      <ng-container [ngSwitch]="isStarted">
        <ng-container *ngSwitchCase="true">
          <button
            [disabled]="isFetching || historyStackIndex - 1 <= -1"
            (click)="prev()"
          >
            << Prev
          </button>
          <button
            [disabled]="
              isFetching || historyStackIndex + 1 >= historyStack.length
            "
            (click)="next()"
          >
            Next >>
          </button>
          <button (click)="startGame(false)" [disabled]="isFetching">
            Stop
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="false">
          <select [(ngModel)]="playerColor" class="choose-level">
            <ng-container *ngFor="let opt of optPlayer">
              <option [ngValue]="opt.value" selected>{{ opt.label }}</option>
            </ng-container>
          </select>
          <button (click)="startGame(true)">Start</button>
        </ng-container>
      </ng-container>
      <br />
    </div>
  </div>
  <div class="container right flex gap-normal">
    <div class="main-control">
      <div class="control-right"></div>
    </div>
  </div>
</div>
