#game {
  // max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  .right {
    padding: 0.5rem;
    flex: 1;
    // background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .header {
      position: relative;
      overflow: hidden;
      .player-avt {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        overflow: hidden;
        display: flex;
        gap: 0.5rem;
        img {
          box-shadow: 0 0 8px var(--color1);
        }
      }
      .player1-avt {
        left: 0;
        border-radius: 8px 0 0 8px;
        justify-content: start;
      }
      .player2-avt {
        right: 0;
        border-radius: 0 8px 8px 0;
        justify-content: end;
      }
      .player-black {
        background-color: #222;
        color: #ddd;
      }
      .player-white {
        background-color: #ddd;
        color: #222;
      }
      .versus-img {
        text-align: center;
        height: 100px;
        position: relative;
        z-index: 1;
      }
      img {
        height: 100%;
      }
      .player-text {
        flex: 1;
      }
      .your-turn {
        padding: 10px;
        font-size: 26px;
        font-weight: bolder;
        text-shadow: 0 0 8px var(--color5), 0 0 16px var(--color1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.board {
  display: inline-grid;
  grid-template-columns: repeat(8, auto);
  gap: 0.2rem;
  background-color: #222;
  opacity: 0.9;
  margin: 1rem 0;
  box-shadow: 0 0 6px var(--color1), 0 0 12px var(--color2);
  // box-shadow: 0 0 6px #000, 0 0 8px #000, 0 0 16px #000;
  border-radius: 6px;
  border-right: 1rem solid #403f3f;
  border-left: 1rem solid #101010;
  border-top: 1rem solid #272727;
  border-bottom: 1rem solid #292828;
}
.cell {
  background-color: var(--green);
  border-radius: 4px;
  height: var(--height);
  aspect-ratio: 1/1;
  position: relative;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--darkgreen);
  }
  &:not(:disabled) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: calc(var(--height) / 3);
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #33333375;
    }
  }
  .index {
    position: absolute;
    color: #00000050;
    top: 2px;
    left: 4px;
  }
}
.piece {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  inset: 5px;
  box-shadow: -2px 5px 4px #333;
  &.black {
    background-color: #000;
  }
  &.white {
    background-color: #fff;
  }
}

#background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}
.moves-history {
  width: 100%;
  padding: 4px;
  height: 130px;
  font-size: 13px;
  overflow: auto;
  border: 1px solid var(--color2);
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 0 8px var(--color1);
  background-image: url("../../assets/moves_history.png");
  background-position: center;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  span {
    position: relative;
    margin: 4px;
    z-index: 1;
    color: #fff;
  }
}
.main-control {
  flex: 1;
  display: flex;
  gap: 1rem;
  .control-left {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    button {
      background-color: var(--color6);
      &:hover {
        background-color: var(--color1);
        color: #333;
      }
    }
    .hard-level {
      padding: 0.6rem 1.2rem;
      border-radius: 4px;
      cursor: pointer;
      background-color: var(--color6);
      font-family: inherit;
    }
  }
  .control-right {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
  }
}
