#game {
  // max-width: 1400px;
  margin: auto;
  flex-wrap: wrap;
  padding: 1rem;
  min-height: 100vh;
  & > * {
    border-radius: 1rem;
  }
}
.container.right,
.container.left {
  padding: 0.5rem;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.container.center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header {
  --height: 80px;
  position: relative;
  overflow: hidden;
  .player-avt {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    gap: 0.5rem;
    img {
      box-shadow: 0 0 8px var(--color1);
    }
  }
  .player1-avt {
    left: 0;
    border-radius: 8px 0 0 8px;
    justify-content: start;
  }
  .player2-avt {
    right: 0;
    border-radius: 0 8px 8px 0;
    justify-content: end;
  }
  .player-black {
    background-color: #222;
    color: #ddd;
  }
  .player-white {
    background-color: #ddd;
    color: #222;
  }
  .versus-img {
    text-align: center;
    height: var(--height);
    position: relative;
    z-index: 1;
  }
  img {
    height: 100%;
  }
  .player-text {
    flex: 1;
  }
  .your-turn {
    padding: 10px;
    font-weight: bolder;
    text-shadow: 0 0 8px var(--color5), 0 0 16px var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.board {
  display: inline-grid;
  grid-template-columns: repeat(8, auto);
  gap: 0.2rem;
  background-color: #222;
  opacity: 0.9;
  margin: 1rem auto;
  box-shadow: 0 0 6px var(--color1), 0 0 12px var(--color2);
  // box-shadow: 0 0 6px #000, 0 0 8px #000, 0 0 16px #000;
  border-radius: 6px;
  border-right: 1rem solid #403f3f;
  border-left: 1rem solid #101010;
  border-top: 1rem solid #272727;
  border-bottom: 1rem solid #292828;
}
.cell {
  background-color: var(--green);
  border-radius: 4px;
  height: var(--height);
  aspect-ratio: 1/1;
  position: relative;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--darkgreen);
  }
  &:not(:disabled) {
    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: calc(var(--height) / 3);
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: #33333375;
    }
  }
  .index {
    position: absolute;
    color: #00000050;
    bottom: 2px;
    left: 4px;
  }
}
.piece {
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  inset: 5px;
  box-shadow: -2px 5px 4px #333;
  &.black {
    background-color: #000;
  }
  &.white {
    background-color: #fff;
  }
}
.field {
  width: 100%;
  padding: 4px;
  font-size: 13px;
  overflow-y: auto;
  border: 1px solid var(--color2);
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  span {
    position: relative;
    margin: 4px;
    z-index: 1;
    color: #fff;
  }
}
.ntf {
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 4px var(--color1);
}
.moves-history {
  height: 200px;
  box-shadow: 0 0 4px var(--color1);
}
.control-btns {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  button,
  select {
    display: block;
    padding: 1rem 1.4rem;
  }
  button {
    background-color: var(--color6);
    &:hover {
      background-color: var(--color1);
      color: #333;
    }
    &:disabled {
      cursor: default;
      background-color: var(--color6);
      color: initial;
      opacity: 0.7;
    }
  }
  .select-btn {
    // padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color6);
    font-family: inherit;
    &:disabled {
      color: inherit;
      cursor: default;
    }
  }
}
.main-control {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  .control-right {
    flex: 1;
    border-radius: 8px;
  }
}
.main-left {
  font-size: 16px;
  height: 100%;
  span {
    display: block;
  }
  a {
    color: var(--green);
  }
}
.win-message {
  padding: 1rem 2rem;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 4px var(--color2);
  color: #222;
}

.cell.selected {
  background-color: var(--color6) !important;
}
