<div id="home-background">
  <div class="main">
    <p><button (click)="play()">Play</button></p>
    <p><button>Setting</button></p>
    <p><button>More</button></p>
    <p><button>Github</button></p>
  </div>
  <div class="copyright">
    <p style="display: flex; gap: 1rem">
      <small><a href="#" target="_blank">Facebook</a></small>
      <small><a href="#" target="_blank">Github</a> </small>
      <small><a href="#" target="_blank">Linkedin</a> </small>
    </p>
    <small
      >Othello v1.0 Copyright by Team 10/Intelligent System PTIT 2023.</small
    >
  </div>
</div>
